[submodule "writing-a-c-compiler-tests"]
	path = writing-a-c-compiler-tests
	url = https://github.com/nlsandler/writing-a-c-compiler-tests
[submodule "RBeJ"]
	path = RBeJ
	url = https://github.com/PartyWumpus/RBeJ
[submodule "befunge_libc/softfloat"]
	path = befunge_libc/softfloat
	url = https://github.com/PartyWumpus/berkeley-softfloat-3
